<div *ngIf="lat && lng">
	<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="onChoseLocation($event)" >

		<agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon">
			<agm-info-window *ngIf="authService.isLoggedIn()">
				<h2>Oi, {{authService.displayName}}</h2>
				<p>Você está aqui!</p>
			</agm-info-window>
			<agm-info-window *ngIf="!authService.isLoggedIn()">
				<h2>Oi, você está aqui!</h2>
				<p>Faça login para adicionar um novo ponto</p>
			</agm-info-window>
		</agm-marker>

		<agm-marker
			*ngFor="let point of points | async"
			[latitude]="point.latitude"
			[longitude]="point.longitude"
			[iconUrl]="icon2">
			<agm-info-window>
				<h2>{{point.name}}</h2>
				<p>{{point.description}}</p>
				<!-- <br>
				<small>Point added by Indiorlei de Oliveira</small> -->
			</agm-info-window>
		</agm-marker>

	</agm-map>
<div>

<div *ngIf="authService.isLoggedIn()" class="modal" id="add-new-point" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-header">
			<a href="#" class="btn-close" aria-hidden="true" aria-label="Fechar">×</a>
		</div>
		<div class="modal-body">
			<form (ngSubmit)="onSubmit()">
				<div class="form-group">
					<div class="content-input">
						<input class="input" type="text" [(ngModel)]="name" name="name" placeholder="Qual é o nome deste lugar?">
					</div>
					<div class="content-input">
						<input class="input" type="number" [(ngModel)]="latitude" name="latitude" placeholder="latitude" id="latitude" readonly>
					</div>
					<div class="content-input">
						<input class="input" type="number" [(ngModel)]="longitude" name="longitude" placeholder="longitude" id="longitude" readonly>
					</div>
					<div class="content-input">
						<textarea class="input textarea" [(ngModel)]="description" name="description" placeholder="Fale sobre o lugar..."></textarea>
					</div>
				</div>
				<div class="btn-group content-input">
					<button type="submit" class="btn--subscribe">Adicionar</button>
				</div>
			</form>
		</div>
		<div class="modal-footer"></div>
	</div>
</div>

<div *ngIf="authService.isLoggedIn()">
	<a href="#add-new-point" class="btn btn--new-point" (click)="getLocation()">
		Adicionar novo ponto
	</a>
</div>